tests/data/assembly_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pisa_results">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:string" name="status_description"/>
        <xs:element type="xs:string" name="status_note"/>
        <xs:element name="asu_complex">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="assembly">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="serial_no"/>
                    <xs:element type="xs:byte" name="id"/>
                    <xs:element type="xs:byte" name="size"/>
                    <xs:element type="xs:byte" name="mmsize"/>
                    <xs:element type="xs:byte" name="freesize"/>
                    <xs:element type="xs:float" name="diss_energy"/>
                    <xs:element type="xs:float" name="diss_energy_0"/>
                    <xs:element type="xs:float" name="asa"/>
                    <xs:element type="xs:float" name="bsa"/>
                    <xs:element type="xs:float" name="entropy"/>
                    <xs:element type="xs:float" name="entropy_0"/>
                    <xs:element type="xs:float" name="diss_area"/>
                    <xs:element type="xs:float" name="int_energy"/>
                    <xs:element type="xs:byte" name="n_uc"/>
                    <xs:element type="xs:byte" name="n_diss"/>
                    <xs:element type="xs:byte" name="symNumber"/>
                    <xs:element type="xs:string" name="formula"/>
                    <xs:element type="xs:string" name="composition"/>
                    <xs:element name="interfaces">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="n_interfaces"/>
                          <xs:element name="interface" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="id"/>
                                <xs:element type="xs:string" name="dissociates"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="molecule" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="chain_id"/>
                          <xs:element type="xs:string" name="visual_id"/>
                          <xs:element type="xs:string" name="symId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>